<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxproj.calendarpicker">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"

        >
        <activity android:name=".MainActivity">
            
        </activity>
    </application>

</manifest>